@use "/src/styles/variables.scss" as *;

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $violet-500;
    animation: appear 0.3s;
}

.modal__content {
    background-color: #000;
    border-radius: 10px;
    transform: translateY(-100vh);
    transition: 0.3s;
    padding: 1em;
}

.modal__content[data-visible="true"] {
    transform: translateY(0);
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}