@use "/src/styles/variables.scss" as *;


.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__backdrop {
        display: block;
        position: absolute;
        content: "";
        inset: 0;
        background-color: $shadow;
        z-index: -1;
    }

    &__content {
        background-color: $violet-400;
        border-radius: 10px;
        transition: 0.2s;
        padding: 1em;
    }

    &[data-animation="redy"] {
        .modal__backdrop {
            animation: appear 0.2s;
        }

        .modal__content {
            transform: translateY(-100vh);
        }
    }

    &[data-animation="out"] {
        .modal__backdrop {
            animation: disappear 0.3s;
        }

        .modal__content {
            transform: translateY(100vh);
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}