@use "/src/styles/variables.scss" as *;

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    animation: appear 0.3s;
}

.modal__content {
    background-color: #000;
    border-radius: 10px;
    animation: moveModal 0.3s;
    padding: 1em;
}

@keyframes moveModal {
    from {
        transform: translateY(-100vh);
    } to {
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}